---
import type { CollectionEntry } from "astro:content";
import dayjs from "dayjs";

type Talk = CollectionEntry<"talks">["data"][0];

interface Props {
  talk: Talk;
}
const { talk } = Astro.props;
---

<div
  class="flex flex-col md:flex-row md:gap-4 md:items-center px-4 my-1 md:my-4 group"
>
  <p class="text-sm lg:text-md font-mono">
    {dayjs(talk.startDate).format("hh:mm A")}
  </p>
  <slot />
</div>
