---
import { type CollectionEntry, getCollection } from "astro:content";
import AgendaItem from "./AgendaItem.astro";

type Talk = CollectionEntry<"talks">["data"][0];

interface Props {
  talk: Talk;
}
const { talk } = Astro.props;

const allSponsors = await getCollection("sponsors");
const sponsors = talk.sponsors
  ? allSponsors.filter((s) => talk.sponsors?.includes(s.id))
  : null;
---

<div class="bg-[#ffe7a5]">
  <AgendaItem talk={talk}>
    <div class="flex-1 bg-df-white-bg rounded-md max-w-fit overflow-hidden">
      <h4 class="font-normal text-lg text-black">
        {talk.title}
      </h4>
      {
        sponsors && sponsors.length > 0 && (
          <span class="text-md text-gray-400">Sponsors:</span>
        )
      }
      <div class="flex flex-row flex-wrap gap-4 items-center max-w-full">
        {
          sponsors?.map((sponsor) => (
            <div class="w-20 flex-shrink-0">
              <img
                class="w-full max-w-full object-contain"
                src={`${import.meta.env.BASE_URL}assets/images/sponsors/${
                  sponsor.data.image
                }`}
                alt={sponsor.data.name}
              />
            </div>
          ))
        }
      </div>
    </div>
  </AgendaItem>
</div>
