---
const base = import.meta.env.BASE_URL;
---

<section class="flex flex-col items-center gap-16 px-2 md:px-36 py-8">
  {/* Data Day Section */}
  <div
    class="flex flex-col-reverse md:flex-row items-center md:items-start justify-between gap-8"
  >
    <div class="flex-1 md:flex-none md:w-1/2">
      <h2 class="text-2xl font-bold mb-2">Conoce el Data Day</h2>
      <p class="text-gray-500">
        Dirigido a profesionales, estudiantes y entusiastas del an치lisis de
        datos <span role="img" aria-label="brain">游늵</span>, ciberseguridad <span
          role="img"
          aria-label="lock">游</span
        > y la inteligencia artificial <span role="img" aria-label="robot"
          >游</span
        >, descubrir치s el potencial de emplear los datos en el d칤a a d칤a.
      </p>
    </div>
    <img
      src={`${base}assets/data-day/datavio1.png`}
      alt="Data Day Mascot"
      class="size-32 md:size-48 object-contain"
      loading="lazy"
    />
  </div>

  {/* DevFest Section */}
  <div
    class="flex flex-col md:flex-row items-center md:items-start justify-between gap-8"
  >
    <div class="flex flex-col items-center md:items-start flex-1">
      <img
        src={`${base}assets/gdg/GDGCaliGray.svg`}
        alt="GDG Cali Logo"
        class="size-32 md:size-auto object-contain mb-2"
        loading="lazy"
      />
    </div>
    <div class="flex-1 md:flex-none md:w-1/2">
      <h2 class="text-2xl font-bold mb-2">Conoce el DevFest</h2>
      <p class="text-gray-500 mb-2">
        DevFest Cali 2025 llega con m치s inspiraci칩n, m치s conocimiento y m치s
        comunidad.
      </p>
      <p class="text-gray-500">
        <span role="img" aria-label="brain">游</span> Exploraremos tecnolog칤as
        de vanguardia como Cloud, IA, Desarrollo de aplicaciones y mucho m치s...
        de la mano de speakers locales e internacionales <span
          role="img"
          aria-label="globe">游깴</span
        >.
      </p>
    </div>
  </div>
</section>
