---
import { Image } from 'astro:assets'

import GeneralWebImage from '../../../public/assets/gdg/GeneralWebDevfest.png'
import Counter from '../Counter'
---

<header>
  <div class="relative w-full h-full">
    <Image src={GeneralWebImage} alt="GeneralWeb DevFest Cali 2024" />
  </div>
</header>

<div
  class="bg-black w-full flex flex-row justify-center items-center md:gap-4 sticky top-0 z-20"
>
  <span class="font-regular hidden md:block text-white">Empieza en...</span>
  <div class="flex flex-1 md:flex-none flex-row justify-center">
    <Counter targetDate="30/11/2024" client:load />
    <div>
      <a
        href="https://peewah.co/events/devfest-cali-2024"
        aria-label="Get Tickets"
        target="_blank"
        class="text-sm h-16 grow flex flex-col justify-center items-center px-2 md:px-8 bg-df-lime-400 hover:bg-df-lime-500 transition-all duration-300 uppercase font-bold"
        >Conseguir Ticket</a
      >
    </div>
  </div>
</div>
