<section
  class="bg-[url('/assets/images/BG-Hero-SM.svg')] md:bg-[url('/assets/images/BG-Hero-MD.svg')] lg:bg-[url('/assets/images/BG-Hero-LG.svg')] bg-cover bg-bottom bg-no-repeat w-full text-white py-[4.6rem] md:pt-[6.6rem] md:pb-[3.6rem] md:px-28 grid grid-col-1 md:grid-cols-[1.4fr_1fr] gap-10 lg:gap-5 items-center"
>
  <section class="flex flex-col items-start px-2">
    <h1 class="text-2xl lg:text-5xl font-bold my-2 lg:my-4">
      Data Dev Fest Cali 2025
    </h1>
    <p class="text-lg lg:text-3xl font-semibold my-2 lg:my-4">
      Del 7 al 8 de noviembre
    </p>
    <p class="text-base lg:text-xl mt-6 mb-10 lg:w-4/5">
      Las comunidades caleñas se unen para hablar del poder que tienen los
      datos, la IA y la nube en el desarrollo tecnológico moderno.
    </p>
    <div class="flex flex-col md:flex-row gap-7 mb-10 md:mb-20">
      <a
        href="https://luma.com/s0wr9wov"
        target="_blank"
        class="w-fit px-6 py-2 rounded-full text-sm md:text-base text-center
            bg-white text-black font-bold hover:bg-gray-200 transition
            cursor-pointer"
      >
        Quiero participar
      </a>
      <a
        href="#agenda"
        class="w-fit px-6 py-2 rounded-full text-sm
        md:text-base text-center bg-[#2a3e77] hover:bg-[#3B5CC5] text-white font-bold
         cursor-pointer"
      >
        Ver Cronograma
      </a>
    </div>
  </section>
  <div
    class="flex flex-row justify-center items-center gap-10 w-fit mx-auto xl:min-w-[550px]"
  >
    <div class="w-32 lg:w-44">
      <img
        class="max-w-full h-auto"
        src="/assets/gdg/GDG Cali.svg"
        alt="Logo GDG Cali"
      />
    </div>
    <div class="w-32 lg:w-44">
      <img
        class="max-w-full h-auto"
        src="/assets/data-day/datavio2.png"
        alt="Logo Datavio"
      />
    </div>
  </div>
</section>
