---
import Layout from '../layouts/Layout.astro'
import Intro from '../components/Intro'
---

<Layout title="DevFest Cali 2023">
  <main class="flex flex-col justify-center items-center w-full h-screen">
    <Intro client:load />
  </main>
</Layout>
