---
import { getCollection } from "astro:content";
import About from "@components/Sections/About.astro";
import Agenda from "@components/Sections/Agenda.astro";
import Comunities from "@components/Sections/Comunities.astro";
import Footer from "@components/Sections/Footer.astro";
import Hero from "@components/Sections/Hero.astro";
import Organizers from "@components/Sections/Organizers.astro";
import Sponsors from "@components/Sections/Sponsors.astro";
import Layout from "../layouts/Layout.astro";

const organizers = await getCollection("organizers", ({ data }) => {
  return !data.hidden;
});
const communitySponsors = await getCollection("sponsors", ({ data }) => {
  return !data.hidden && data.type === "community";
});
const companySponsors = await getCollection("sponsors", ({ data }) => {
  return !data.hidden && data.type === "company";
});
---

<Layout title="DataDev Fest 2025">
  <main class="flex flex-col w-full overflow-hidden">
    <Hero />
    <About />
    <Agenda />
    <Sponsors sponsors={companySponsors} />
    <Comunities communities={communitySponsors} />
    <Organizers organizers={organizers} />
    <Footer />
  </main>
</Layout>
