---
import Header from "../components/Common/Header.astro";
import BaseHead from "../components/Layout/BaseHead.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="es">
  <head>
    <BaseHead title={title} />
  </head>
  <body class="w-full">
    <Header />
    <slot />
  </body>
</html>
